<% content_for :header_tags do %>
  <%= javascript_include_tag "cpm_reports.js", :plugin => 'redmine_cpm' %>
  <%= stylesheet_link_tag "cpm_show.css", :plugin => 'redmine_cpm' %>
<% end %>

<h2><%=l(:"cpm.title_capacity_reports")%></h2>
<%= form_tag("/cpm_reports/index", method: :get) do |f| %>
	<div>
		<%= label_tag 'report_type', l(:"cpm.label_report_type") %>
		<%= select_tag 'report_type', options_for_select(@report_types, @report.present? ? @report[:type] : nil) %>
	</div>
	<br>
	<div id="report_options_div">
		<%= render :partial => 'cpm_reports/filters/'+@report[:type] if @report.present?%>
	</div>
	<div>
		<%= submit_tag l(:"button_submit") %>
	</div>
<% end %>

<div id="capacity_report">
	<%= render :partial => 'cpm_reports/report' if @report.present?%>
</div>

<% if @report.present? %>
	<% other_formats_links do |f| %>
		<%= f.link_to 'ODS', :url => params %>
	  <%#= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
	  <%#= f.link_to 'PDF' %>
	<% end %>
<% end %>